{% load static %}
<!doctype html>
<html>
  <head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
    </main>
    <footer class="foot">
        Made with love by Scrumptious Recipes
    </footer>


  </body>
