{% load static %}
<!doctype html>
<html>
  <head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>
  <body>
    <header>
        <nav>
              <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
           {% for step in recipe_object.steps.all %}
           <li>{{ step.instruction }}</li>
           {% endfor %}
        </ol>

    </main>
    <footer class="foot">
        Made with love by Scrumptious Recipes
    </footer>


  </body>
