{% extends "base.html" %}
{% block title %} Scrumptious Recipes {% endblock title %}
{% block content %}

      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div class="container">
        {% for recipe in recipe_list %}
      <div>
          <h3>
              <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
              <p>{{ recipe.created_on|date:"D d M Y" }}</p>
          </h3>
          <img src="{{ recipe.picture }}">
          <div>4.3 stars</div>
      </div>
      {%endfor %}
      </div>
{% endblock content %}
