html {
    background-color: #D9D8D7;
    font-family: "Papyrus", Cooperplate;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0px;
    height: 100%;

}

main {
    padding: 16px;
    height: 80%;
}


a:link {
    color:rgb(0, 128, 0);
    background-color: white;
}

a:visited {
    color: #2E5559;
}

a:hover {
    color:black;
}

a:active {
    color: black;
}

header {
    background-color: #2E5559;
    height: 10%;
}



img {
    height: 200px;
}

nav {
    padding: 16px;
    border: 1px black;
}

.corn {
    background-color: grey;
}

title {
    color: #0F2026;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px 12px #618C84;
    padding: 100px;
    margin-left: 10px;
    margin-right: 10px;

}

.foot {
    border-top: solid 1px;
    background-color: #39733D;
    position:fixed;
    width:100%;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 5%;
    padding-top: 5px;
}

h1 {
    color: #146152;
}

h2 {
    color: #2E5559;
}

.recipe_name {
    color: #B4CF66;
}
