
{% load static %}
<!doctype html>
<html>
  <head>
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
  <header>
      <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>

        {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <a href="{% url 'user_logout' %}">Logout</a>
          <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        {% else %}
          <a href="{% url 'signup' %}">Sign up</a>
          <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
<main>
{% block content %}
{% endblock content %}

</main>

  <footer class="foot">
        Made with love by Scrumptious Recipes
  </footer>
</body>
</html>
